# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE-specific files
.vscode/
.idea/

# OS-specific files
Thumbs.db
.DS_Store